.card-main {
    width: 18vw;
    position: relative;
    border: 1px solid #ddd;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.card-main img {
    width: 18vw;
}
.img-container {
    width: 22vw;
    height: 44vh;
    
}


.button1 {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    border: 3px solid rgb(241, 95, 79);
    background-color: rgb(241, 95, 79);
    font-weight: 600;
    font-size: large;
}

.description {
    padding-left: 1rem;
}

.description h2 {
    color:rgb(241, 95, 79)
}