.Featured {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    
}

.Featured h1 { 
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
   
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}

@media screen and (max-width: 450px) {

    .Featured {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-top: 1.5rem;
        font-family: 'Poppins', sans-serif;
        
    }
    
    .Featured h1 { 
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 10px;
        font-size: 1.5rem;
       
    }
    
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;

}
}