.Navbar {

    display: flex;
    background-color: rgb(235, 232, 232);
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 15px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 2rem;
}

.left, .mid ,.right {
    flex:1
}

.left {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 1rem;
}

.search {
    display: flex;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(94, 91, 91);
    height: 1.5rem;
    border-radius: 12px;
    background-color: white;
}
.search p {
    padding-left: 5px;
}

#searchBar {
    width: 12rem;
    height: 1rem;
    border: 0px solid;
}

#searchBar :focus{
    width: 12rem;
    height: 1rem;
    border: 0px solid;
    outline: none;
    box-shadow: none;
}


#searchBar :focus {
    outline: none;
    box-shadow: none;
}


.left span {
    margin-left: 1rem;
    margin-right: 1.5rem;
}
.right {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    align-items: center;
}

.right ul {
    display: flex;
}
.right li {
    padding-right: 1rem ;
    list-style: none;
    cursor: pointer;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}