.UpHeader {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;

}


.up1 {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.up2 {
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.up2 span {
    color: red;
    font-weight: 600;
    margin-right: 0.5rem;
}

@media screen and (max-width: 450px) {
    .UpHeader {
        width: 100%;
        background-color: white;
        color: black;
        display: flex;
        height: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }
    .up1 {
        flex:1;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1rem;
    }
    .up2 {
        flex:1;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .up2 span {
        color: red;
        font-weight: 600;
        margin-right: 0.5rem;
    }


}
